@media screen and (max-width: 1024px) {
  header {
    height: auto;
    width: auto;
  }
  .panel {
    display: flex;
    align-items: center;
    justify-content: space-betwee;
  }
  .panel > .panel-ops {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  header {
    height: auto;
    width: auto;
  }
  .panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .panel > .panel-ops {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

